@model List<SelfServiceSupportPortal.Data.Model.ViewModels.ProductVM>

<div class="wrapper">

    <div class="content-wrapper">

        <section class="content">
            <div class="container-fluid">

                <div class="row d-flex justify-content-center ">
                    <div class="col-md-12">
                        <br />
                        <div class="card card-primary">
                            <div class="card-header d-flex flex-wrap align-items-center">
                                <h2 class="card-title nav me-auto">Products</h2>
                                <div class="d-flex justify-content-between">
                                    <a class="btn btn-primary mx-2" onclick="CreateProduct()">Create <i class="fa-solid fa-plus"></i></a>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div id="ProductDataTable">
                                    <partial name="_productTbl" model="Model" />
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="modal fade" id="createProductModel" role="dialog" data-url='@Url.Action("Create","Product")'></div>

<script>

    function CreateProduct() {
        var url = $('#createProductModel').data('url');
        $.get(url, function (data) {
            $('#createProductModel').html(data);
            $('#createProductModel').modal('show');
        });
    }


    function ReloadTblData() {
        $.ajax({
            type: "GET",
            url: "/Product/ReloadProductTbl",
            success: function (data) {
                // Bind the received HTML to the container element
                $('#ProductDataTable').html(data);

            },
            error: function (xhr, status, error) {
                console.error("Ajax request failed: " + error);
            }
        });
    }

</script>